name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Build and test
        run: mvn -B -e test package

      - name: Upload jar artifact
        uses: actions/upload-artifact@v4
        with:
          name: ci-cd-swagger-jar
          path: target/*.jar
